---
layout: default
---

 <div style="margin-bottom: 100px;">
   {% for category in site.categories %}
      <h1 class="categoryTitle numberStyle">{{ category | first }}</h1>
      {% for posts in category %}
        {% for post in posts %}
        <li class="postList">
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span class="numberStyle">{{ post.date | date: "%b %-d" }}</span>
          <span style="background-color: #eef;">{{ post.tag }}</span>
        </li>
        {% endfor %}
      {% endfor %}
    {% endfor %}
 </div>
